# Note:
# PyQt* packages are provided by the PyQt BaseApp and are not listed here.
# psycopg2 install required postgres installed, so skipped...
flit_core
tomli
importlib-metadata
importlib-resources
alembic==1.12.1
beautifulsoup4
chardet
python-vlc
distro
flask
flask-cors
lxml
Mako
platformdirs
PyICU
pymediainfo
QtAwesome
qrcode
requests
SQLAlchemy
waitress
websockets
QDarkStyle
packaging
PyMySQL
pyenchant
pysword
pytest
pytest-runner
